
body {
    font-family: Arial, sans-serif;
    text-align: left;
    margin-top: 50px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.accordion {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
}

.accordion-item {
  background-color: lightblue;
  border: 3px solid black !important;
  display: block;
  margin-bottom: 5px;
  padding: 10px;
 
}

.accordion-header {
  background-color: steelblue !important;
  padding: 10px;
  cursor: pointer;
  text-align: left;
  font-weight: bold;
}

.accordion-content {
  display: none;
  padding: 10px;
  background-color: #fff;
}