
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.accordion {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
}

.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  background-color: blue;
  color: white;
}

.accordion-header {
  background-color: #f0f0f0;
  padding: 10px;
  cursor: pointer;
  text-align: left;
}

.accordion-content {
  display: none;
  padding: 10px;
  background-color: #fff;
}